<div class="flex-none mb-4 font-courgette text-3xl text-center">
  {{ mode === 'create' ? 'Ajouter' : 'Modifier' }} un invité
</div>

<form class="flex-1">
  <div [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="mb-4">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="outline" class="mb-4">
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-button-toggle-group formControlName="status">
      <mat-button-toggle value="absent">Absent</mat-button-toggle>
      <mat-button-toggle value="present">Présent</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</form>

<footer class="flex-none mb-2 flex gap-4 justify-between">
  <button class="flex-1" mat-raised-button [routerLink]="['/list']">
    <mat-icon>arrow_back</mat-icon>
    <span class="font-cinzel">Retour</span>
  </button>
  <button class="flex-1 !bg-gold" mat-raised-button [disabled]="formGroup.invalid" (click)="onSubmit()">
    <span class="font-cinzel">{{ mode === 'create' ? 'Ajouter' : 'Modifier' }}</span>
  </button>
</footer>
