<img class="w-60 self-center mt-8 mb-16" src="assets/images/announcement-mini.png">
<p class="dancing !mb-8">ont la joie de vous convier à leur</p>
<p class="cinzel !mb-8">mariage</p>
<p class="dancing !mb-8">qui sera célébré</p>
<p class="cinzel !mb-8">le 18 mai 2024</p>
<p class="dancing !mb-16">à l'Eglise Sainte-Croix de Henridorff à 15h30</p>
<p class="dancing !mb-16">
  A l'issue de la cérémonie le vin d'honneur sera servi
  à L'Espace Clément au Haut-clocher
</p>

<button mat-raised-button (click)="navigateToForm()">
  <span class="font-cinzel">répondre à l'invitation</span>
  <mat-icon>arrow_forward</mat-icon>
</button>
