<app-title>Infos Pratiques</app-title>

<app-main>
  <img class="w-60 mb-6" src="assets/images/mountains-mini.png">
  <div>
    <div class="font-cinzel text-lg">Eglise Sainte-Croix</div>
    <div class="font-dancing text-xl">84-85 Grande Rue, 57820 Henridorff</div>
  </div>
  <div>
    <div class="font-cinzel text-lg">Espace Clément</div>
    <div class="font-dancing text-xl">4 Chemin Saint-Ulrich, 57400 Haut-Clocher</div>
  </div>
  <img class="w-60" src="assets/images/party-mini.png">

  <div class="mb-4 font-dancing text-xl">
    Nous ne demandons pas de cadeaux,
    mais un petit quelque chose pour remplir notre urne de mariage qui servira
    à financer notre voyage de noces
  </div>
  <div class="font-dancing text-xl">Merci de nous confirmer votre présence avant le 29 février 2024</div>
</app-main>

<app-footer>
  <button class="flex-1" mat-raised-button [routerLink]="['/announcement']">
    <mat-icon>arrow_back</mat-icon>
    <span class="font-cinzel">Retour</span>
  </button>
  <button class="flex-1" mat-raised-button [routerLink]="['/list']">
    <span class="font-cinzel">Inscription</span>
  </button>
</app-footer>
