@font-face {
  font-family: 'courgette';
  src: url('/assets/fonts/Courgette-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'dancing';
  src: url('/assets/fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'cinzel';
  src: url('/assets/fonts/CinzelDecorative-Bold.ttf') format('truetype');
}
