<app-main>
  <img class="w-60" src="assets/images/announcement-mini.png">
  <div class="font-dancing text-xl">ont la joie de vous convier à leur</div>
  <div class="font-cinzel text-3xl">mariage</div>
  <div class="font-dancing text-xl">qui sera célébré</div>
  <div class="font-cinzel text-3xl">le 18 mai 2024</div>
  <div class="mb-4 font-dancing text-xl">à l'Eglise Sainte-Croix de Henridorff à 15h30</div>
  <div class="font-dancing text-xl">A l'issue de la cérémonie le vin d'honneur sera servi à L'Espace Clément au Haut-clocher</div>
</app-main>

<app-footer>
  <button class="flex-1" mat-raised-button [routerLink]="['/informations']">
    <span class="font-cinzel">Informations</span>
  </button>
  <button class="flex-1" mat-raised-button [routerLink]="['/list']">
    <span class="font-cinzel">Inscription</span>
  </button>
</app-footer>
