<form [formGroup]="form">
  <header>
    <h1>Inscription</h1>
    <button mat-raised-button (click)="addGuest()">
      <mat-icon>add</mat-icon>
      Invité
    </button>
  </header>

  <main>
    <mat-accordion formArrayName="guests">
      @for (guest of guests.controls; track guest; let i = $index; let last = $last) {
        <mat-expansion-panel
          hideToggle
          displayMode="flat"
          [expanded]="last">
          <mat-expansion-panel-header
            collapsedHeight="3rem"
            expandedHeight="3rem"
            [ngClass]="{
              'present': guest.valid && guest.get('status')?.value === 'present',
              'absent': guest.valid && guest.get('status')?.value === 'absent'
            }">
            <div class="custom-header">
              @if(guest.valid) {
                <mat-icon class="text-lime-500">done</mat-icon>
              } @else {
                <mat-icon class="text-red-500">block</mat-icon>
              }

              @if(guest.valid) {
                <span class="name">{{ guest.get('firstName')?.value }} {{ guest.get('lastName')?.value }}</span>
              } @else {
                <span class="text-gray-500">A compléter</span>
              }

              @if(guests.controls.length > 1) {
                <mat-icon (click)="onRemoveGuest(i)">delete</mat-icon>
              } @else {
                <mat-icon (click)="onRemoveGuest(i)" class="invisible">delete</mat-icon>
              }
            </div>
          </mat-expansion-panel-header>

          <app-guest-form [formGroupName]="i"></app-guest-form>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </main>

  <footer>
    <button mat-raised-button (click)="navigateToAnnouncement()">Retourner à la page principale</button>
    <button mat-raised-button disabled>ENVOYER</button>
  </footer>
</form>
